<html>
<head>
<title>Ajay</title>
<link rel="stylesheet" href="/static/stylehome.css" type="text/css">
</head>
<body>
	<div class="divider"></div>
	<header>
		<nav>
			<h1>Coding'<span style="color:white">sKool</span></h1>
			<ul id="nav">
				<li><a class="homered" href="#">HOME</a></li>
				<li><a class="homeblack" href="reference.html">Reference</a></li>
				<li><a class="homeblack" href="contactus.html">ContactUs</a></li>
				<li><a class="homeblack" href="imp.html">LogOut</a></li>
			</ul>
		</nav>
	</header>
	<div class="divider"></div>
	<div class="code">
	<h2 class="homecode">Quiz:
		<br>
		<span style="color: white" style="outline:black">Evaluate yourself</span>
		<br>
	<a href="/templates/quiz31.html" class="button">Start</a>
	</h2>>
	<h4 class="hometitle1">Speed:
		<br>
		<span style="color: white">Test your speed and accuracy.</span>
		<br>
		<a href="/templates/index.html" class="button">Start</a>
		<br>
	</h4>>
	<br>
</div>
</body>
</html>