
    
<html>
<head>
<title>Ajay</title>
<link rel="stylesheet" href="stylehome.css" type="text/css">
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css" type="text/css">
</head>
<body>
    <div class="divider"></div>
    <header>
        <nav>
            <h1>Coding'<span style="color:white">sKool</span></h1>
            <ul id="nav">
                <li><a class="homeblack" href="home.html">HOME</a></li>
                <li><a class="homered" href="reference.html">Reference</a></li>
                <li><a class="homeblack" href="contactus.html">ContactUs</a></li>
                <li><a class="homeblack" href="imp.html">LogOut</a></li>
            </ul>
        </nav>
    </header>
    <form>
        <div class="row">
            <div class="col-md-6">
                <div><a class="btn btn-default" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-1" style="color: red" role="button" href="#collapse-1">Basic Programming</a>
                    <div class="collapse in" id="collapse-1">
                        <div class="row">
                            <div class="col-md-12"><a style="color: white" href="http://www.programmingbasics.org/en/" target="_blank">Programming Basics</a></div>
                            <div class="col-md-12"><a style="color: white" href="https://www.codecademy.com/" target="_blank">Codecadmy </a></div>
                            <div class="col-md-12"><a style="color: white" href="www.udemy.com/LearnAnything/OnYourSchedule‎" target="_blank">udemy </a></div>
                        </div>
                    </div>
                </div>
            </div>>
            <div class="col-md-6">
                <div><a class="btn btn-default" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-2" style="color: red" role="button" href="#collapse-2">Data Structure</a>
                    <div class="collapse in" id="collapse-2">
                        <div class="row">
                            <div class="col-md-12"><a style="color: white" href="http://www.geeksforgeeks.org/data-structures/" target="_blank">Geek for Geeks</a></div>
                            <div class="col-md-12"><a style="color: white" href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-006-introduction-to-algorithms-fall-2011/lecture-videos/" target="_blank">MIT </a></div>
                        </div>
                    </div>
                </div>
            </div>>
            <div class="col-md-6">
                <div><a class="btn btn-default" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-3" style="color: red" role="button" href="#collapse-3">NetWorking </a>
                    <div class="collapse in" id="collapse-3">
                        <div   class="row">
                            <div  class="col-md-12"><a style="color: white" href="http://www.coursera.org/" target="_blank">Coursera </a></div>
                            <div class="col-md-12"><a style="color: white" href="http://nptel.ac.in/courses/106105081/1" target="_blank">NAPTEL </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>